@use "variables" as *;

#main {
    padding: 4em 0;

    #content, #sidebar{
        .major {
            text-align: left;
        }
    }

    #sidebar {
        section {
            margin-top: 4em;
            &:first-child {
                margin-top: 0;
            }
        }

        .major {
            padding-bottom: 2em;

            h2 {
                font-size: 1.8em;
            }
        }
    }
}