@charset "utf-8";


@mixin button{
	border-radius: 10px;
	max-width: 200px;
	text-align: center;
	border: 1px solid #999;
}


.button-alert{
	@include button;
	background: #f00;
	color: #fff;
}

.button-primary{
	@include button;
	background: #337ab7;
	color: #fff;
}


@mixin colorButton($backColor,$textColor){
	border-radius: 10px;
	max-width: 200px;
	text-align: center;
	border: 1px solid #999;
	background: $backColor;
	color: $textColor;
}


.button-alert{
	@include colorButton(#f00,#fff);
}

.button-primary{
	@include colorButton(#337ab7,#fff);
}