@use 'variable';
.container{
	width:800px;
	margin: auto;
	margin-bottom:20px ;
	
	&__navigation{
		display: flex;
		
		li{
			width:20%;
			list-style: none;
			background: variable.$themeColor;
		}
		a{
			color:variable.$baseColor;
			text-decoration: none;
			display: block;
			padding: 10px;
			text-align: center;
			
			&:hover{
				background: #0860BD;
			}
		}
	}
}

