@charset "UTF-8";

@use 'variables';

main {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.main-visual {
    width: 100%;
    height: 480px;
    background: url('../images/main.jpg') no-repeat center/cover;

    h1, h2, a {
        display: block;
        color: #fff;
        text-align: center;
        margin: 0 auto;
    }
    h1 {
        font-size: 31px;
        padding-top: 125px;
        line-height: 40.25px;
    }
    h2 {
        font-size: 18px;
        line-height: 40.25px;
        margin-bottom: 55px;
        font-weight: normal;
    }
    a {
        text-decoration: none;
        height: 50px;
        width: 328px;
        background: variables.$button-color;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
}

section {
    max-width: 923.5px;
    width: 100%;
    margin: 0 auto;

    .section-title {
        font-size: 24px;
        line-height: 40.25px;
        text-align: center;
        margin: 0 auto;
        padding-top: 57.12px;
        padding-bottom: 61.88px;
    }

    &.features {
        .features-container {
            display: flex;
            justify-content: space-between;

            .feature {
                width: 280px;

                >h3 {
                    width: 280px;
                    height: 40px;
                    background-color: variables.$primary-color;
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 40.25px;
                    color: #FFFFFF;
                    text-align: center;
                }

                >p {
                    width: 259px;
                    height: 155px;
                    margin: 0 auto;
                    margin-top: 17.32px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }

    &.price {
        >.section-title {
            @extend .section-title;
            padding-top: 22.8px;
            padding-bottom: 46.88px;
        }
        >p {
            font-size: 14px;
            line-height: 18px;
            text-align: left;
            margin-bottom: 16px;

            &.bottom {
                margin-bottom: 72px;
            }
        }

        .price-table {
            width: 100%;
            margin-bottom: 10.5px;

            tr {
                height: 42px;

                td, th {
                    border: #CCCCCC 1px solid;
                    text-align: center;
                    font-size: 14px;
                    line-height: 18px;
                    vertical-align: middle;
                    font-weight: normal;
                }

                th {
                    background-color: variables.$primary-color;
                    color: #FFFFFF;
                }

                td:nth-child(1) {
                    background-color: #F0F4F7;
                    font-weight: bold;
                }

                &:nth-child(2n+1) td {
                    background-color: #F5F5F5;
                    
                    td:nth-child(1) {
                        background-color: #E7E9EC;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 959.99px) {
    main {
        margin: 0;
    }

    section {
        &.features {
            .features-container {
                width: 600px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                margin: 0 auto;

                .feature {
                    margin-bottom: 20px;
                }
            }
        }

        &.price {
            margin-left: 40px;
            margin-right: 40px;
            width: calc(100% - 80px);

            .price-table {
                width: 100%;
            }
        }
    }

    
}