

.content{
  position: relative;
    margin-bottom: 0px;
    padding: 30px;
    h1{
       font-size: 2em;
        margin-bottom: 0.5em;
    }
  
    p{
       font-size: 1em;
        line-height: 1.5em;
        padding: 5px 20px;
    }
    &__inner:before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #ccc;
      transform: skewY(3deg);
      z-index: -1;
    }
}
