

.content{
    margin-bottom: 0px;
    padding: 30px;

    &:nth-of-type(2n){
        background: #ccc;
        clip-path: polygon(0 0,100% 20% ,100% 80% , 0 100%);
        padding: 60px 30px;
    }

    h1{
       font-size: 2em;
        margin-bottom: 0.5em;
    }
  
    p{
       font-size: 1em;
        line-height: 1.5em;
        padding: 5px 20px;
    }
}
