.main-title{
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.content{
  display: flex;
  max-width: 960px;
  margin: auto;
}
.content__item{
  width: 50%;
}
.content__image{
  width: 50%;
}

.content__image img{
  width: 100%;
}


@media only screen and (max-width:768px) {

}