.container{
    color: #ffffff;

    &__content{
        padding: 16px;
        font-size: 24px;
        border-radius: 10px;
      
        &__1{
            background: #0085c3;
        }
        &__2{
            background: #7ab800;
        }
        &__3{
            background: #f2af00;
        }
        &__4{
            background: #dc5034;
        }
        &__5{
            background: #ce1126;
        }
        &__6{
            background: #b7295a;
        }
        &__7{
            background: #6e2585;
        }
        &__8{
            background: #71c6c1;
        }
    }
}


@media screen and (min-width:480px){
    .container{
        display: grid;
        column-gap: 10px;
        row-gap: 10px;
      
        grid-template-rows: 200px 200px;
        grid-template-columns: 200px 200px 1fr;
  }
}

