.main-title{
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.content{
  display: flex;
  max-width: 960px;
  margin: auto;
}
.content__item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align:right;
  width: 50%;
  padding: 20px;
  box-sizing:border-box;
}
.content:nth-child(2n-1) .content__item{
  order: 1;
  text-align: left;
}
.content__image{
  width: 50%;
}
.content__image img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

@media only screen and (max-width:768px) {
  .content{
    flex-direction: column;
  }
  .content__item{
    width: 100%;
  }
  .content .content__item{
    order: 1;
    text-align: left;
  }
  .content__image{
    width: 100%;
  }
  .content__image img{
    object-fit:inherit;
    height: auto;
  }
}