@use "variables";

.width-273 {
    width: 100vw;
    min-width: 273px;
    margin: 0 auto;
}

.header {
    &-top {
        display: flex;
        align-items: center;
        padding: 20px 0;
    }

    &-title {
        font-family: "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho", serif;
        font-size: 20px;
        color: variables.$primary-color;
        margin-left: 10px;
        // line-height: 27px;
        
        span {
            font-size: 12px;
            /* line-height: 17px; */
        }
    }

    &-tel {
        text-align: right;
        color: black;
        margin-left: auto;
        margin-right: 10px;

        p {
            font-size: 12px;
            line-height: 20px;

            span {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }

    &-nav {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1px;

        li {
            flex: 1;
            text-align: left;
            list-style: none;
            background-color: variables.$primary-color;
            width: auto;
            height: 60px;

            a {
                display: block;
                color: white;
                text-decoration: none;
                font-size: 12px;
                padding-top: 10px;
                padding-left: 10px;
                height: 60px;
            }
        }

        .now-page {
            background-color: variables.$secondary-color;
        }
    }
}

@media only screen and (min-width: 961px) {
    .width-273 {
        width: 273px;
        margin: 0;
    }

    .header {
        &-nav, &-top {
            flex-direction: column;
        }

        &-top {
            padding-bottom: 44px;
        }

        &-title {
            margin-left: 30px;
            margin-right: auto;
            margin-bottom: 11px;
        }

        &-tel {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }

        &-nav {
            display: flex;
            width: 214px;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 480px) {
    .header {
        &-nav, &-top {
            flex-direction: column;
        }

        &-title {
            padding-bottom: 14px;
        }

        &-tel {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }

        &-nav {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }
    }
}