.footer{
    margin: 0;
    padding: 0;
    background-color: #333;
    @media screen and (max-width: 960px) {
        margin-top: 32px;
    }

    @media screen and (max-width: 480px) {
        margin-top: 55px;
    }

    &__icon{
        padding-top: 71px;
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            gap: 20px;
            margin: 0;
            padding: 0;
            .fa-brands{
                color: #fff;
                font-size: 28px;
            }
        }
    }
    small{
        color: #fff;
        font-size: 12px;
        font-family: 'Verdana';
        display: flex;
        justify-content: center;
        padding-top: 46px;
        padding-bottom: 78px;
    }
}
