@charset "UTF-8";
@use "variables";

header {
    background-color: #000;
    height: 70px;
    width: 100%;
    
    .header-content {
        display: flex;
        justify-content: space-between;
        
        .logo {
            color: variables.$secondary-color;
            height: 70px;
            font-size: 20px;
            line-height: 24px;
            text-align: left;
            display: flex;
            align-items: center;
            padding-left: 24px;
        }

        .menu-button {
            width: 104px;
            border-left: variables.$secondary-color 1px solid;
            display: flex;
            align-items: center;

            .hamburger {
                width: 15px;
                height: 12px;
                padding-left: 19px;
                padding-right: 8px;

                span {
                    display: block;
                    width: 15px;
                    height: 2px;
                    background-color: variables.$secondary-color;
                }

                span + span {
                    margin-top: 3px;
                }
            }

            h2 {
                color: variables.$secondary-color;
                font-size: 14px;
                line-height: 17px;
                height: 70px;
                display: flex;
                align-items: center;
                padding-right: 19px;
            }

            &.menu-active {
                border: none;

                .hamburger {
                    transition: all 0.4s;
                    transform: translateX(45px);

                    span {
                        width: 22px;
                        height: 6px;
                        transition: all 0.4s;
                    }

                    span + span {
                        margin-top: 0;
                    }

                    span:nth-child(2) {
                        display: none;
                        visibility: hidden;
                    }

                    span:nth-child(1) {
                        transform: rotate(45deg);
                        margin-bottom: -6px;
                    }

                    span:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }

                h2 {
                    visibility: hidden;
                    width: 0;
                    padding: 0;
                }
            }
        }
    }

    .menu-container {
        display: none;
        visibility: hidden;

        &.open {
            display: block;
            visibility: visible;
            position: absolute;
            top: 69px;
            left: calc(100vw - 320px);
            width: 320px;
            height: 403px;
            background-color: #000;
            display: flex;
            justify-content: center;
            ul {

                li {
                    height: 54px;
                    width: 253px;
                    border-top: variables.$secondary-color 1px solid;

                    a {
                        display: block;
                        height: 100%;
                        line-height: 54px;
                        text-align: center;
                        color: variables.$secondary-color;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}