*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    .header{
        background-color: #000;
        &__inner{
            margin: 0 auto;
            padding: 0 19px 0 24px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            height: 70px;
        .header-title{
            display: flex;
            align-items: center;
            flex: 1;

            h1{
                flex: 1 1 auto;
                font-size: 20px;
                font-family: "Verdana";
                font-weight: bold;
                color: #fff;
                margin: 0;
                }
            .buttonTrigger{
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 0;
                color: #fff;
                background: transparent;
                margin-left: 16px;
                padding: 0;

                .icon-box{
                    width: 15px;
                    height: 10px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    line-height: 1;
                }
            }
            .header-home{
                color: #fff;
                font-size: 17px;
                font-family: "Verdana";
                font-weight: bold;
                margin-left: 8px;
                line-height: 1;
                display: inline-block;
                align-items: center;
            }
            }
            .headerNavigation{
                margin-left: auto;
                position: fixed;
                top: 0;
                right: 0;
                width: 320px;
                background-color: #000;
                z-index: 1000;

                transform: translateX(100%);
                opacity: 0;
                pointer-events: none;
                transition: transform .3s ease, opacity .3s ease;

                &.open{
                    transform: translateX(0);
                    opacity: 1;
                    pointer-events: auto;
                }
                .navClose{
                    position: absolute;
                    top: 25px;
                    right: 21px;
                    width: 20px;
                    height: 20px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border: 0;
                    background: transparent;
                    color: #fff;
                    font-size: 20px;
                }
                .nav__list{
                display: flex;
                flex-direction: column;
                margin: 0;
                margin-top: 70px;
                padding: 0;
                list-style: none;
                li{
                    color: #fff;
                    font-size: 16px;
                    border-top: 1px solid #fff;
                    padding: 15.5px 0;
                    margin-left: 32px;
                    margin-right: 34.5px;

                    &:last-child{
                        padding-bottom: 24px;
                    }
                    
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 16px;
                        padding: 14px 4px;
                    }
                }
                } 
            }
        }
    }
    .main{
        margin: 0;
        padding: 60px 0 0;

        @media screen and (max-width: 960px) {
            padding: 0;
        }
        &__inner{
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        &__image{
            width: 100%;
            margin: 0 auto;
            overflow: hidden;
            img{
            width: 100%;
            height: 540px;
            display: block;
            object-fit: cover;
            @media screen and(max-width: 960px) {
                height: 100%;
                }
            }
        }
        &__title_block{
            padding-top: 41px;
        @media screen and (max-width: 960px) {
            padding-top: 30px;
            margin: 0 32px;
        }
        }
        &__title{
            font-size: 36px;
            font-family: 'Yu Gothic';
            font-weight: bold;
        }
        &__subtitle{
            margin: 0;
            margin-top: 30px;
            padding: 14px 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            font-family: 'Verdana';
            font-weight: bold;
            font-style: Italic;
            color: #ccc;
        }
        .sentence{
            display: flex;
            padding-top: 30px;
            gap: 42px;
            @media screen and (max-width: 960px){
                display: block;
                margin: 0 32px;
            }
            &__content{
                flex: 1;
                @media screen and (max-width: 960px){
                    padding-bottom: 23px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                }
                @media screen and (max-width: 480px){
                    padding-bottom: 30px;
                    &:last-child{
                        padding-bottom: 0;
                    }
                }
                p{
                    font-size: 16px;
                    font-family: 'Yu Gothic';
                    line-height: 1.9;
                }
            }
        }
    }

    .footer{
        margin: 38px 0 0;
        padding: 0;
        background-color: #333;
        @media screen and (max-width: 960px) {
            margin-top: 52px;
        }

        @media screen and (max-width: 480px) {
            margin-top: 38px;
        }

        &__icon{
            padding-top: 71px;
            display: flex;
            justify-content: center;
            ul{
                display: flex;
                gap: 20px;
                margin: 0;
                padding: 0;
                .fa-brands{
                    color: #fff;
                    font-size: 28px;
                }
            }
        }
        small{
            color: #fff;
            font-size: 12px;
            font-family: 'Verdana';
            display: flex;
            justify-content: center;
            padding-top: 46px;
            padding-bottom: 78px;
        }
    }
}
