

.mainHeader{
	width:800px;
	margin: auto;

	
	.mainTitle{
		padding: 20px;
		box-sizing: border-box;
		background:#023570;
		color: #fff;
		margin-bottom: 10px;
	}
	
	.document{
		margin: 10px;
		padding:20px;

	}	
}

